header {
  width: 100%;
  margin: auto;
  padding: 20px 27px;
  box-sizing: border-box;
  position: relative;
  @media screen and (min-width: width(sp)) {
    max-width: 395px;
  }//@media
  h1 {
    > img {
      width: 73px;
      height: auto;
      display: block;
      margin: auto;
    }//img
    span {
      display: block;
      font-size: .1rem;
      transform: scale(.8);
      text-align: center;
      color: #BAA280;
      font-weight: $font_w_b;
      margin: 5px 0 0 5px;
      &:before {
        content: "─";
        margin-right: 5px;
      }
      &:after {
        content: "─";
        margin-left: 5px;
      }
    }
  }
  menu {
    position: absolute;
    top: 30px;
    left: 27px;
  }//menu
  div {
    position: absolute;
    top: 30px;
    right: 27px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    img {
      width: auto;
      height: 24px;
    }
  }
}//header