@mixin h2title {
  font-size: .2rem;
  font-weight: $font_w_m;
  margin-bottom: 35px;
  span {
    display: block;
    font-size: .12rem;
    color: #BAA280;
  }
}

@mixin dot {
  width: 207px;
  height: 19px;
  margin-bottom: 40px;
}//.dot

@mixin news {
  > a {
    display: flex;
    align-items: center;
    gap: 0 15px;
    color: #535353;
    margin: 0 0 20px 0;
    img {
      width: 118px;
      height: 90px;
      border-radius: 10px 0 0 10px;
    }//img
    figcaption {
      p {
        font-size: .12rem;
        font-weight: $font_w_m;
        text-decoration: underline;
      }
      span {
        font-size: .1rem;
        display: block;
      }
    }
  }//a
}