#commitment-area {
  width: 100%;
  margin: auto;
  @media screen and (min-width: width(sp)) {
    max-width: 395px;
  }//@media
  .commitment-top {
    position: relative;
    margin-bottom: 60px;
    > img {
      width: 100%;
      height: auto;
      opacity: .5;
    }//img
    div {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      h2 {
        font-size: .18rem;
        font-weight: $font_w_b;
        margin-bottom: 15px;
      }
      img {
        width: 87px;
        height: auto;
      }
    }//div
  }//.aboutus-top

  .pagetop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    @media screen and (min-width: width(sp)) {
      right: calc(50% - 180px)
    }//@medi
  }
  .text-area {
    padding: 0 27px;
    margin-bottom: 100px;
    text-align: center;
    h2 {
      @include h2title;
      text-align: center
    }//h2
    .dot {
      @include dot;
      margin: 0 auto 40px;
    }//.dot

    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 1em;
      text-align: left;
    }
    h4 {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4;
    }

    .subtitle {
      font-size: 18px;
      display: flex;
      gap: 20px;
      align-items: center;
      line-height: 1;
      justify-content: center;

      img {
        height: 16px;
        width: auto;
      }
    }
    p {
      font-size: .12rem;
      margin-bottom: 30px;
      text-align: left;
    }//p

    img {
      max-width: 100%;
      height: auto;
    }

    .three {
      text-align: left;
      display: flex;
      gap: 4px;
      flex-direction: column;
      margin-bottom: 30px;
      li a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        line-height: 1.3;
        border: #AC7746 1px solid;
        height: 50px;
        border-radius: 100px;
        color: #AC7746;
        padding: 0 4px;
        span {
          &:first-child {
            font-size: 40px;
            line-height: 0;
            margin-top: -4px;
          }
          &:last-child {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.3;
          }
        }
        
        &:hover {
          background-color: #AC7746;
          color: #fff;
        }
      }
    }

    .nintei {
      padding: 20px 0;
      text-align: left;

      img {
        width: 120px;
        float: left;
        padding: 0 20px 20px 0;
      }

      h4 {
        margin-top: 0;
      }

      h5 {
        font-weight: bold;
        line-height: 1.3;
      }

      &:after {
        content: '';
        clear: both;
      }
    }

    .shopOnly {
      background-color: #FEF6EA;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 30px;
      dl {
        display: flex;
        margin-bottom: 8px;
        gap: 10px;
        dt {
          background-color: rgba(172, 119, 70, 0.2);
          color: #AC7746;
          font-size: 11px;
          font-weight: bold;
          display: flex;
          align-items: center;
          width: 96px;
          padding: 4px 8px;
          gap: 5px;
          border-radius: 4px;
        }
        dd {
          width: calc(100% - 120px);
          display: flex;
          align-items: center;
        }
      }
    }

    .fix-offer {

      > div {
        display: flex;
        gap: 20px;
        align-items: center;
        border-top: 1px dashed;
        padding: 20px 0;
        &:nth-child(3) {
          border-bottom: 1px dashed;
        }

        img {
          width: 180px;
        }

        p {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.3;
        }
      }

      > p {
        margin-top: 20px;
        background-color: rgba(172, 119, 70, 0.2);
        color: #AC7746;
        padding: 1em;
        border-radius: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.3;
      }
    }

    .not-fix {
      background-color: #FAD8CC;
      padding: 1em;
      border-radius: 10px;

      h4 {
        margin-top: 0;
      }

      .not-fix-offer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px;

        > div {
          width: calc((100% - 20px) /2);
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: #fff;
          padding: 10px;

          justify-content: center;
          align-items: center;
          border-radius: 10px;
          p {
            font-weight: bold;
            font-size: 10px;
            line-height: 1.3;
            text-align: center;
            margin: 0 auto;
          }

        }
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .fix-support {
      > div {
        display: flex;
        gap: 20px;
        align-items: center;
        border-top: 1px dashed;
        padding: 20px 0;
        &:nth-child(3) {
          border-bottom: 1px dashed;
        }

        img {
          width: 100px;
        }

        h4 {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 1em;
          margin-top: 0;
          text-align: left;
          line-height: 1.3;

        }

        p {
          font-size: 12px;
          line-height: 1.7;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      > p {
        margin-top: 20px;
        background-color: rgba(172, 119, 70, 0.2);
        color: #AC7746;
        padding: 1em;
        border-radius: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.3;
      }
    }

    .fix-flow-img {
      > div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        border-top: 1px dashed;
        padding: 20px 0;
        &:nth-child(5) {
          border-bottom: 1px dashed;
        }

        img {
          width: 100px;
        }

        > div {
          width: calc(100% - 120px);
        }

        h4 {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 1em;
          margin-top: 0;
          text-align: left;
          line-height: 1.3;

          span {
            background-color: rgba(172, 119, 70, 0.2);
            color: #AC7746;
            display: inline-block;
            line-height: 1;
            font-size: 12px;
            padding: 4px 10px;
            border-radius: 10px;
            width: 80px;
            margin-bottom: 4px;
            text-align: center;
            
          }
        }

        p {
          font-size: 12px;
          line-height: 1.7;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .notice {
        background-color: #FAD8CC;
        padding: 1em;
        border-radius: 10px;
        text-align: left;
        width: 100%;

        h5 {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 1em;
          text-align: left;
          list-style: 1.3;
        }

        ul {
          font-size: 12px;
          padding-left: 1em;

          li {
            list-style: disc;
          }
        }
      }
      

      > p {
        margin-top: 20px;
        background-color: rgba(172, 119, 70, 0.2);
        color: #AC7746;
        padding: 1em;
        border-radius: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.3;
      }
    }



  }//.text-area

  #kodawari {
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: space-between;
    padding: 0;
    position: relative;

    > ul {
      width: 80px;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 0;
      left: 10px;

      &.sticky {
        position: fixed;
        top: 10px;
        left: 10px;
        @media screen and (min-width: width(sp)) {
          left: calc(50% - 188px);
        }
      }

      &.active1 {
        li {
          &:first-child {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }

      &.active2 {
        li {
          &:nth-child(2) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }

      &.active3 {
        li {
          &:nth-child(3) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }

      &.active4 {
        li {
          &:nth-child(4) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }
      &.active5 {
        li {
          &:nth-child(5) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }
      &.active6 {
        li {
          &:nth-child(6) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }
      &.active7 {
        li {
          &:nth-child(7) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }
      &.active8 {
        li {
          &:nth-child(8) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }
      &.active9 {
        li {
          &:nth-child(9) {
            a {
              font-weight: bold;
              color: #AC7746;
              font-weight: 700;
              background-color: rgba($color: #AC7746, $alpha: .2);
              &:before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 10px;
                background-color: #AC7746;
                position: absolute;
                left: 6px;
                top: calc(50% - 3px);
              }
            }
          }
        }
      }
      li {
        a {
          padding: 0;
          width: 80px;
          margin: 0;
          height: 30px;
          font-size: .12rem;
          color: #666;
          background-color: #fff;
          border-radius: 39px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          line-height: 1.2;
          transition: 0.3s;
          padding-left: 16px;
          position: relative;
        }
      }
    }

    > div {
      width: 100%;

      &.sticky {
      }

      > section {
        padding: 30px 27px 30px 100px;

        &:nth-child(2n) {
          background-color: #FEF6EA;
        }
      }

      h5 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 1em;
        text-align: left;
        line-height: 1.3;
      }

      img {
        margin: 1em 0;
      }

      p {
        margin: 0;
      }
    }
  }
}
