#parts-area {
  width: 100%;
  margin: auto;
  @media screen and (min-width: width(sp)) {
    max-width: 395px;
  }//@media
  .parts-top {
    position: relative;
    margin-bottom: 60px;
    > img {
      width: 100%;
      height: auto;
      opacity: .5;
    }//img
    div {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      h2 {
        font-size: .18rem;
        font-weight: $font_w_b;
        margin-bottom: 15px;
      }
      img {
        width: 87px;
        height: auto;
      }
    }//div
  }//.aboutus-top

  .pagetop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    @media screen and (min-width: width(sp)) {
      right: calc(50% - 180px)
    }//@medi
  }
  .text-area {
    padding: 0 27px;
    margin-bottom: 100px;
    text-align: center;
    h2 {
      @include h2title;
      text-align: center
    }//h2
    .dot {
      @include dot;
      margin: 0 auto 40px;
    }//.dot

    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 1em;
      text-align: left;
    }
    h4 {
      margin-top: 60px;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 1em;
    }

    .subtitle {
      font-size: 18px;
      display: flex;
      gap: 20px;
      align-items: center;
      line-height: 1;
      justify-content: center;

      img {
        height: 16px;
        width: auto;
      }
    }
    p {
      font-size: .12rem;
      margin-bottom: 30px;
      text-align: left;
    }//p

    img {
      max-width: 100%;
      height: auto;
    }

    .kawa-list {
      > div {
        padding: 40px 0;
        border-bottom: dashed 1px;
      }
    }

    .three {
      text-align: left;
      display: flex;
      gap: 4px;
      flex-direction: column;
      margin-bottom: 30px;
      li a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        line-height: 1.3;
        border: #AC7746 1px solid;
        height: 50px;
        border-radius: 100px;
        color: #AC7746;
        padding: 0 4px;
        span {
          &:first-child {
            font-size: 40px;
            line-height: 0;
            margin-top: -4px;
          }
          &:last-child {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.3;
          }
        }
        
        &:hover {
          background-color: #AC7746;
          color: #fff;
        }
      }
    }



  }//.text-area
}
